# PyCity Schools Analysis

##  Analysis

### District VS Chart School Spending VS Resultser

#### Based on the 2 datasets given for what would normally be called High School Reading and Math for the schools and districts provided. A few insights can be observed. 
1. District schools on average compared to Charter schools for all spending ranges. Have an "Average Percent Overall Passing" of approx. 75% for District schools, compared to approx. 71.5% for Charter schools. 
2. Medium schools, (1000-2000 students), overall have a higher passing rate of approx. 75.25%, compared to the Large (2000 - 5000), and Small (<1000) schools with overall passing rates of approx. 72.35 and 72 respectively.
3. The spending summary is definitely interesting. The lowest range of spending (Per Student) group, has the largest impact and maybe?, contrary to conventional thinking, the largest impact in student success. The highest and lowest Per Student spending, had the worst results in "Overall Passing". The lowest was approx. 62.3 % compared to the highest spending at approx. 72 %. Meanwhile, the low - mid spending was at approx. 72 % passing, while the mid to high was at an astounding approx. 90.5 % passing.

In [21]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

school_name = school_data_complete["school_name"].unique()
school_name

In [24]:
school_name = school_data_complete["school_name"].unique()
school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [25]:
# Calculate the total number of unique schools
school_count = school_data_complete["school_name"].nunique()
school_count

15

In [26]:
# Calculate the total number of students
student_count = school_data_complete["Student ID"].nunique()
student_count

39170

In [27]:
# Calculate the total budget
total_budget = school_data_complete["budget"].unique().sum()
total_budget

24649428

In [28]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [29]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [30]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [31]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [41]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [43]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools" : school_count,
    "Total Students" : student_count,
    "Total Budget" : total_budget,
    "Average Math Score" : average_math_score,
    "Average Reading Score" : average_reading_score,
    "% Passing Math" : passing_math_percentage,
    "% Passing Reading" : passing_reading_percentage,
    "% Overall Passing" : overall_passing_rate
}, index=[0])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [45]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index("school_name").loc[school_name, "type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [47]:
# Calculate the total student count per school from school_data
student_counts_per_school = school_data_complete["school_name"].value_counts()
print(student_counts_per_school)

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [49]:
# Calculate the total student count per school from school_data
per_school_counts = school_data.loc[:, "size"]
per_school_counts = per_school_counts.reset_index(drop=True)
per_school_counts

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [51]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.loc[:, "budget"]
per_school_budget_int = per_school_budget
per_school_budget = per_school_budget.reset_index(drop=True)
per_school_capita = per_school_budget / school_data.loc[:, "size"]
per_school_capita = per_school_capita.reset_index(drop=True)

In [53]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby(["school_name"])["math_score"].mean()
per_school_math = per_school_math.reset_index(drop=True)
per_school_reading = school_data_complete.groupby(["school_name"])["reading_score"].mean()
per_school_reading = per_school_reading.reset_index(drop=True)
per_school_math.head()

0    77.048432
1    83.061895
2    76.711767
3    77.102592
4    83.351499
Name: math_score, dtype: float64

In [55]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
school_students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
school_students_passing_math_new = school_students_passing_math.groupby(["school_name"])["math_score"].count()
school_students_passing_math_new.head()

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [57]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
school_students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
school_students_passing_reading_new = school_students_passing_reading.groupby(["school_name"])["reading_score"].count()
school_students_passing_reading_new.head()

school_name
Bailey High School      4077
Cabrera High School     1803
Figueroa High School    2381
Ford High School        2172
Griffin High School     1426
Name: reading_score, dtype: int64

In [59]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [63]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_data_complete[school_data_complete["math_score"] >= 70] \
                          .groupby("school_name")["Student ID"].count() / school_data.groupby("school_name")["size"].first() * 100
per_school_passing_math = per_school_passing_math.reset_index(drop=True)

per_school_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70] \
                             .groupby("school_name")["Student ID"].count() / school_data.groupby("school_name")["size"].first() * 100
per_school_passing_reading = per_school_passing_reading.reset_index(drop=True)

overall_passing_rate = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].groupby("school_name")["Student ID"].count() / school_data.groupby("school_name")["size"].first() * 100
overall_passing_rate = overall_passing_rate.reset_index(drop=True)
overall_passing_rate.head()

0    54.642283
1    91.334769
2    53.204476
3    54.289887
4    90.599455
dtype: float64

In [65]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "School Name": pd.Series(school_name).reset_index(drop=True),
    "School Type": school_types.reset_index(drop=True),
    "Total Students": per_school_counts.reset_index(drop=True),
    "Total School Budget": per_school_budget.reset_index(drop=True),
    "Per Student Budget": per_school_capita.reset_index(drop=True),
    "Average Math Score": per_school_math.reset_index(drop=True),
    "Average Reading Score": per_school_reading.reset_index(drop=True),
    "% Passing Math": per_school_passing_math.reset_index(drop=True),
    "% Passing Reading": per_school_passing_reading.reset_index(drop=True),
    "% Overall Passing": overall_passing_rate.reset_index(drop=True)
})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.933280,54.642283
1,Figueroa High School,District,2949,"$1,884,411.00",$639.00,83.061895,83.975780,94.133477,97.039828,91.334769
2,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,76.711767,81.158020,65.988471,80.739234,53.204476
3,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.102592,80.746258,68.309602,79.299014,54.289887
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
5,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,77.289752,80.934412,66.752967,80.862999,53.527508
6,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.803279,83.814988,92.505855,96.252927,89.227166
7,Bailey High School,District,4976,"$3,124,928.00",$628.00,76.629414,81.182722,65.683922,81.316421,53.513884
8,Holden High School,Charter,427,"$248,087.00",$581.00,77.072464,80.966394,66.057551,81.222432,53.539172
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
10,Wright High School,Charter,1800,"$1,049,400.00",$583.00,76.842711,80.744686,66.366592,80.220055,52.988247
11,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,83.359455,83.725724,93.867121,95.854628,89.892107
12,Johnson High School,District,4761,"$3,094,650.00",$650.00,83.418349,83.848930,93.272171,97.308869,90.948012
13,Ford High School,District,2739,"$1,763,916.00",$644.00,83.274201,83.989488,93.867718,96.539641,90.582567
14,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [67]:
print(district_summary.columns.tolist())

['Total Schools', 'Total Students', 'Total Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']

In [69]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by="% Overall Passing", ascending=False)
top_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
1,Figueroa High School,District,2949,"$1,884,411.00",$639.00,83.061895,83.975780,94.133477,97.039828,91.334769
12,Johnson High School,District,4761,"$3,094,650.00",$650.00,83.418349,83.848930,93.272171,97.308869,90.948012
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
13,Ford High School,District,2739,"$1,763,916.00",$644.00,83.274201,83.989488,93.867718,96.539641,90.582567
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [71]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by="% Overall Passing", ascending=True)
bottom_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
10,Wright High School,Charter,1800,"$1,049,400.00",$583.00,76.842711,80.744686,66.366592,80.220055,52.988247
2,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,76.711767,81.158020,65.988471,80.739234,53.204476
7,Bailey High School,District,4976,"$3,124,928.00",$628.00,76.629414,81.182722,65.683922,81.316421,53.513884
5,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,77.289752,80.934412,66.752967,80.862999,53.527508
8,Holden High School,Charter,427,"$248,087.00",$581.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

In [73]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "Avg. Ninth Grade Math Score" : ninth_grade_math_scores,
    "Avg. Tenth Grade Math Score" : tenth_grader_math_scores,
    "Avg. Elenenth Grade Math Score" : eleventh_grader_math_scores,
    "Avg. Twelfth Grade Math Score" : twelfth_grader_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

,Avg. Ninth Grade Math Score,Avg. Tenth Grade Math Score,Avg. Elenenth Grade Math Score,Avg. Twelfth Grade Math Score
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

In [75]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "Avg. Ninth Grade Reading Score": ninth_grade_reading_scores,
    "Avg. Tenth Grade Reading Score": tenth_grader_reading_scores,
    "Avg. Eleventh Grade Reading Score": eleventh_grader_reading_scores,
    "Avg. Twelfth Grade Reading Score": twelfth_grader_reading_scores
    # "Reading Score By Grade" : reading_scores_by_grade
})

reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

,Avg. Ninth Grade Reading Score,Avg. Tenth Grade Reading Score,Avg. Eleventh Grade Reading Score,Avg. Twelfth Grade Reading Score
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

## Scores by School Spending

In [77]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [79]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

In [81]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, right= True, labels= labels)

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
school_spending_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
0,Huang High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.933280,54.642283,$645-680
1,Figueroa High School,District,2949,"$1,884,411.00",$639.00,83.061895,83.975780,94.133477,97.039828,91.334769,$630-645
2,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,76.711767,81.158020,65.988471,80.739234,53.204476,$585-630
3,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.102592,80.746258,68.309602,79.299014,54.289887,$645-680
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
5,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,77.289752,80.934412,66.752967,80.862999,53.527508,<$585
6,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
7,Bailey High School,District,4976,"$3,124,928.00",$628.00,76.629414,81.182722,65.683922,81.316421,53.513884,$585-630
8,Holden High School,Charter,427,"$248,087.00",$581.00,77.072464,80.966394,66.057551,81.222432,53.539172,<$585
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
10,Wright High School,Charter,1800,"$1,049,400.00",$583.00,76.842711,80.744686,66.366592,80.220055,52.988247,<$585
11,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,83.359455,83.725724,93.867121,95.854628,89.892107,$630-645
12,Johnson High School,District,4761,"$3,094,650.00",$650.00,83.418349,83.848930,93.272171,97.308869,90.948012,$645-680
13,Ford High School,District,2739,"$1,763,916.00",$644.00,83.274201,83.989488,93.867718,96.539641,90.582567,$630-645
14,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.682222,83.955000,93.333333,96.611111,90.333333,$630-645

In [83]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [85]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Scores" : spending_math_scores,
    "Average Reading Scores" : spending_reading_scores,
    "% Passing Math" : spending_passing_math,
    "% Passing Reading" : spending_passing_reading,
    "% Overall Passing Spending" : overall_passing_spending
    })

# Display results
spending_summary

,Average Math Scores,Average Reading Scores,% Passing Math,% Passing Reading,% Overall Passing Spending
Spending Ranges (Per Student),,,,,
$585-630,80.133149,82.550549,79.914839,88.785141,71.964589
$630-645,83.344443,83.911498,93.800412,96.511302,90.535694
$645-680,79.189791,81.876383,76.087279,86.180387,66.626727
<$585,78.752051,81.615120,72.920741,84.639603,62.320523

## Scores by School Size

In [88]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [90]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

In [92]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_df["School Size"] = pd.cut(school_size_df["Total Students"], bins= size_bins, right=True, labels= labels)

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
school_size_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
0,Huang High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
1,Figueroa High School,District,2949,"$1,884,411.00",$639.00,83.061895,83.975780,94.133477,97.039828,91.334769,Large (2000-5000)
2,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,76.711767,81.158020,65.988471,80.739234,53.204476,Medium (1000-2000)
3,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
5,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
6,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.803279,83.814988,92.505855,96.252927,89.227166,Medium (1000-2000)
7,Bailey High School,District,4976,"$3,124,928.00",$628.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
8,Holden High School,Charter,427,"$248,087.00",$581.00,77.072464,80.966394,66.057551,81.222432,53.539172,Small (<1000)
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
10,Wright High School,Charter,1800,"$1,049,400.00",$583.00,76.842711,80.744686,66.366592,80.220055,52.988247,Medium (1000-2000)
11,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,83.359455,83.725724,93.867121,95.854628,89.892107,Large (2000-5000)
12,Johnson High School,District,4761,"$3,094,650.00",$650.00,83.418349,83.848930,93.272171,97.308869,90.948012,Large (2000-5000)
13,Ford High School,District,2739,"$1,763,916.00",$644.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
14,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [94]:
# Calculate averages for the desired columns.
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

In [96]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Score" : size_math_scores,
    "Average Reading Score" : size_reading_scores,
    "% Passing Math" : size_passing_math,
    "% Passing Reading" : size_passing_reading,
    "% Overall passing" : size_overall_passing    
})

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall passing
School Size,,,,,
Large (2000-5000),80.148011,82.429660,80.320880,88.769335,72.341377
Medium (1000-2000),80.878295,82.697890,82.317324,90.192458,75.270536
Small (<1000),80.456190,82.505546,80.326073,88.584189,72.039856

## Scores by School Type

In [99]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [101]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score by Type" : average_math_score_by_type,
    "Average Reading Score by Type" : average_reading_score_by_type,
    "Average % Passing Math by Type" : average_percent_passing_math_by_type,
    "Average % Passing Reading by Type" : average_percent_passing_reading_by_type,
    "Average % Overall Passing by Type" : average_percent_overall_passing_by_type
})

# Display results
type_summary

,Average Math Score by Type,Average Reading Score by Type,Average % Passing Math by Type,Average % Passing Reading by Type,Average % Overall Passing by Type
School Type,,,,,
Charter,80.324201,82.429369,79.873967,88.624209,71.744987
District,80.556334,82.643266,82.259154,89.898811,75.029073